@model IEnumerable<WebApplication2.Models.IncendiosForestales>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBosques)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPersonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdReservasAgua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdHerramientas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCantidadHerramienta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdBosques)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPersonal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdReservasAgua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdHerramientas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCantidadHerramienta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
